# ServiceHub API 配置
SERVICEHUB_API_URL=https://www.ccailab.top
SERVICEHUB_USERNAME=25741114@qq.com
SERVICEHUB_PASSTOKEN=456789

# 飞书群机器人配置
FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/YOUR-FEISHU-ROBOT-WEBHOOK-HERE
